/* src/App.css */
.app-container {
    display: flex;
    background-color: yellow;
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .right-side {
    flex: 1;
    padding: 20px;
    background-color: white;
  }
  
  img {
    width: 100px; /* Adjust the size as needed */
    height: auto;
  }
  